#cuadro{
    width: 40%; /*width es el ancho del cuadro*/
    height: 40%;/*height Es ala atura del cuadro*/
    background:#CC1EC4 ;
}

body{
    background:#1ECC70 ;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.sec1{
    background: url("./../IMG/luna.jpg"); /* Mandamos llamar una imagen en el css*/
    background-repeat: no-repeat; /*Nose repita la imagen */
    background-size: cover; /* Para que se ponga toda la pantalla */
    background-position: center ; /**/
    background-attachment: fixed;
}

.sec2{
    background: url("./../IMG/Flores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sec3{
    background: url("./../IMG/superluna-de-mayo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sectext{
    height: auto;
    padding: 50px 100px;
}